@import "../variables";
.content {
  background-color: @background_color;

  .banner {
    background-color: @theme_color;
    height: 600px;
    text-align: center;

    .logo_img {
      width: 350px;
      margin-top: 100px;
      //margin-bottom: 20px;
    }

    .name_section {
      display: inline;

      h3 {
        font-weight: normal;
        color: white;
        width: 350px;
        text-align: center;
        margin: -50px auto 0;
      }
    }
  }
}
// 股票
.intro_stock {
  height: 400px;
}
.left {
  float: right;
  width: 330px;
  height: 300px;
  margin-top: 50px;
}
.right {
  float: left;
  width: 330px;
  height: 300px;
  margin-top: 50px;
}
.title {
  font-size: @font36;
}
.underline {
  background-color: @theme_color;
  width: 66px;
  height: 5px;
}
.description {
  margin-top: 20px;
  font-size: @font18;
}
.detail {
  margin-top: 10px;
}
.detail p {
  margin: 5px 0;
}
.operation {
  margin-top: 30px;
  font-size: 20px;
  height: 40px;
}
// 策略
.intro_strategy {
  height: 400px;
  background-color: @container_color;
}
