.strategy_list {
  background-color: white;
  padding-bottom: 30px;
}
.new_strategy_btn {
  float: right;
  margin-right: 15%;
  margin-top: 3%;
  margin-bottom: 2%;
}
.body_pos {
  margin-top: 2%;
  margin-bottom: 2%;
}
.item_list {
  clear: right;
  padding-bottom: 5%;
  min-height: 250px;
}
.empty_pic_pos {
  min-height: 250px;
  padding-bottom: 5%;
  clear: right;
}
.empth_pic {
  opacity: 0.5;
  text-align: center;
  position: relative;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -70%);
}
.tip_word {
  opacity: 0.5;
  text-align: center;
  position: relative;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -600%);
}
