@import "../variables";

.exponent_chart {
  width: 100%;
  height: 200px;
}
.stock_name {
  font-size: @font16;
  font-weight: @font_bold;
  color: @font_title_color;
  margin-left: 10px;
}
.stock_present {
  font-size: @font16;
  font-weight: @font_bold;
  color: @font_red;
  margin-left: 20px;
}
.stock_change {
  font-size: @font16;
  color: @font_red;
  margin-left: 10px;
}
.stock_change_down {
  font-size: @font16;
  color: @font_green;
  margin-left: 10px;
}
