@import "../variables";

.container {
  height: 40px;
  background-color: @container_color;
  border: 1px solid #fff;
  border-bottom-color: @list_item_border_color;
  padding-left: @inner_padding;
  font-size: @font16;
}
.config {
  //float: left;
  margin-top: 5px;
}
.status {
  margin-top: 5px;
  //clear: left;
  float: left;
}
.operation {
  float: right;
  margin-right: 5px;
}
.operation button {
  margin-right: 5px;
}
